<div class="center" style="margin-top: 36px">
  <mat-slide-toggle (change)="changeMode()">{{
    mode === "introduce" ? "Aprensentando Pessoas a IA" : "Reconhecendo Pessoas"
  }}</mat-slide-toggle>
</div>

<div class="center upload">
  <input
    type="file"
    ngFileSelect
    [options]="options"
    (uploadOutput)="onUploadOutput($event)"
    [uploadInput]="uploadInput"
    multiple
  />
  <button
    [disabled]="!files.length"
    (click)="startUpload()"
    mat-flat-button
    color="primary"
    style="margin-top: 16px"
  >
    Enviar Foto Para Reconhecimento Facial
  </button>
</div>
<!-- <div class="upload-item" *ngFor="let f of files; let i = index">
  <div class="upload-item-content">
    <div class="filename">
      <div class="filename-left">
        <i class="ionicon ion-ios-copy"></i>
        <span>{{ f.name }}</span>
      </div>
      <div class="filename-right">
        <i class="ionicon ion-close-round" (click)="cancelUpload(f.id)"></i>
      </div>
    </div>
    <div class="progress-content">
      <div class="progress">
        <span
          class="bar"
          [style.width]="f?.progress?.data?.percentage + '%'"
          [class.is-done]="f?.progress?.data?.percentage === 100"
        ></span>
      </div>
    </div>
    <div class="progress-text-content">
      <span
        class="progress-text"
        [class.is-done]="f?.progress?.data?.percentage === 100"
      >
        <span>{{ f.progress?.data?.percentage }}% </span>
        <span *ngIf="f.progress?.data?.percentage !== 100">Uploading...</span>
        <span *ngIf="f.progress?.data?.percentage === 100">Completo </span>
      </span>
      <span
        class="speed-and-eta-text"
        *ngIf="
          f.progress?.data?.percentage !== 0 &&
          f.progress?.data?.percentage !== 100
        "
      >
        <span>{{ f.progress?.data?.speedHuman }} </span>
        <span>ETA {{ f.progress?.data?.etaHuman }}</span>
      </span>
    </div>
  </div>
</div> -->
<div class="center img-and-inputs">
  <div class="img">
    <mat-spinner *ngIf="loading"></mat-spinner>
    <img
      width="600"
      *ngIf="!loading && imgUpload"
      [src]="'http://localhost:5000/' + imgUpload"
      alt=""
    />
  </div>
  <div class="inputs">
    <form [formGroup]="form">
      <ng-container *ngFor="let f of inputs; let i = index">
        <div [formGroupName]="f?.field" class="input-item">
          <span class="tag">
            {{ form?.get(f?.field)?.get("person")?.value?.name }} /
            {{
              (form?.get(f?.field)?.get("precision")?.value * 100).toFixed(2)
            }}%
          </span>
          <mat-form-field class="fuse-mat-no-subscript w-full">
            <mat-label
              >Pessoa {{ form?.get(f?.field)?.get("id")?.value }}</mat-label
            >
            <div class="ip">
              <mat-icon>person</mat-icon>
              <input
                [readonly]="mode === 'recognition'"
                formControlName="person"
                matInput
                [matAutocomplete]="person.autocomplete"
              />
              <app-person-autocomplete
                class="custom-scrollbar"
                #person="personAutoComplete"
                [control]="form?.get(f?.field)?.get('person')"
              >
              </app-person-autocomplete>
              <mat-icon
                class="add"
                (click)="person.addPerson()"
                *ngIf="person.btAdd"
                >add</mat-icon
              >
            </div>
          </mat-form-field>

          <div class="question">
            <button
              *ngIf="
                inputs.length && !isLoadingLearning && mode === 'recognition'
              "
              (click)="
                doAnswer(true, form?.get(f?.field)?.get('id')?.value);
                isTotal = true
              "
              [disabled]="
                disabledIndex(true, form?.get(f?.field)?.get('id')?.value)
              "
              mat-flat-button
              color="primary"
              style="margin-top: 16px; margin-right: 8px; width: 100%"
            >
              Certo
            </button>
            <button
              *ngIf="
                inputs.length && !isLoadingLearning && mode === 'recognition'
              "
              (click)="
                doAnswer(false, form?.get(f?.field)?.get('id')?.value);
                isTotal = true
              "
              [disabled]="
                disabledIndex(false, form?.get(f?.field)?.get('id')?.value)
              "
              mat-flat-button
              color="warn"
              style="margin-top: 16px; width: 100%"
            >
              Errado
            </button>
          </div>
        </div>
      </ng-container>

      <div class="center">
        <mat-spinner [diameter]="30" *ngIf="isLoadingLearning"></mat-spinner>
        <button
          *ngIf="inputs.length && !isLoadingLearning && mode === 'introduce'"
          (click)="learningIA()"
          mat-flat-button
          color="primary"
          style="margin-top: 16px; width: 100%"
        >
          Ensinar IA
        </button>
      </div>
    </form>
  </div>
</div>

<div class="total" *ngIf="isTotal">
  {{ (calc() * 100).toFixed(2) }}% de acertos.
</div>
